#map {
    width: 75%;
    height: 75%;
    margin: auto;
    border-style: solid;
    border-color: black;
}

.accidents, .accidents svg {
    position: absolute;
}

.accidents svg {
    width: 115px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
    font-weight: 700;
}

.accidents circle {
    display: inline-table;
    stroke-width: 1.5px;
}

.key {
    margin-left: 12.5%;
    margin-right: 20px;
    float: left;
}

#tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
}

#tooltip * {
    color: white;
    margin: 0;
    font-size: 12px;
}

#tooltip hr {
    margin-bottom: 5px;
}

#tooltip tr td:nth-child(2n) {
    text-align: center;
}

.hidden {
    display: none;
}